@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom scrollbar */

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #bebebe;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}


@keyframes flash {
  0% {
    background-color: greenyellow;
  }
  100% {
    background-color: inherit;
  }
}

.animate-flash {
  animation: flash 0.5s;
}
